<div class="head">
			<div class="logocontainer">
		     <%= image_tag("images/logo.png", :alt => "Paathshaala", :class => "logo") %>
		
			</div>
			<div class="logincontainer">
			<form action="Login">
					<p class="logindata">
						Username: <input type="text" name="user" value=""/>
						Password: <input type="password" name="pwd" value="" />
						<input type="submit" value="Login" class="loginbutton"/>
					</p>
				</form>
			</div>

		</div>
		<div class="allcontent">
			<div class="signupchoicebox">
				<div class="heading">Sign Up</div>
				<form action="SignupChoice">
					<p>
						<input type="submit" value="I'm a Teacher" class='signupbutton'/>
						<input type="submit" value="I'm a Student" class='signupbutton'/>
					</p>
				</form>

			</div>
			
			
		</div>
		<div class='bottomcontent'>Paathshaala- the Learning Management System</br>

		</div>
